@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Sono&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.title {
  color: var(--app-fg);
  font-size: 24px;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--app-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.inputItems {
  width: 500px;
  border: 1px solid var(--app-fg);
  border-radius: 10px;
  padding: 20px;
}

.inputItem {
  margin-top: 20px;
  width: 100%;
}

.inputItemRounded {
  background-color: var(--app-surface);
  color: var(--app-surface-fg);
  border-radius: 15px;
}
